#cart{
    width: 1190px;
    margin: 40px auto;
    box-sizing: border-box;
}

#cart *{
    box-sizing: border-box;
}

.shoppingCart{
    width: 100%;
    overflow: hidden;
}

.shoppingCart>li{
    width: 100%;
}

.shoppingCartTitle{
    overflow: hidden;
}

.shoppingCartTitle ul li{
    float: left;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}

.productImg,.productNum{
    width: 18%;
}

.productInfo{
    width: 32%;
}

.productMoney,.productTotalMoney{
    width: 10%;
}

.operating{
    width: 12%;
}

.shoppingCartContent{

    height: 122px;
}

.shoppingCartContent>ul{
    overflow: hidden;
    border: 1px solid #eee;
}

.shoppingCartContent>ul>li{
    overflow: hidden;
    padding: 20px;
}

.cartList>div{
    float: left;
    height: 80px;
}

.selectBox{
    width: 20px;
    height: 50px !important;
    padding-top: 30px;
}

.selectItem{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #bbb;
}

.select{
    background: url(../images/tmall/select.png) no-repeat -2px -2px;
    border: 1px solid #fff !important;
}

.cartProductImg{
    width: 80px;
    margin-left: 15px;
}

.cartProductImg>img{
    width: 100%;
    height: 100%;
}

.cartProductDetails{
    width: 450px;
    position: relative;
    padding-left: 120px;
    font-size: 12px;
    text-decoration: none;
}

.cartProductDetails a{
    color: #777;
}

.cartProductDetails a:hover{
    text-decoration: underline;
}

.productEnsure{
    position: absolute;
    bottom: 0;
    height: 20px;
    box-sizing: border-box;
}

.productEnsure>img{
    height: 16px;
}

.cartProductPrice{
    width: 130px;
    line-height: 80px;
    text-align: center;
}

.cartProductNum{
    width: 214px;
}

.cartProductNum>div{
    margin: 25px auto;
    border: solid 1px #E5E5E5;
    width: 104px;
    overflow: hidden;
    line-height: 26px;
}

.cartProductNum>div>em{
    width: 26px;
    height: 26px;
    float: left;
    display: block;
    text-align: center;
    color: black;
    cursor: pointer;
    border-right: solid 1px #ccc;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
}

.cartProductNum>div>input{
    width: 50px;
    height: 26px;
    display: block;
    font-size: 14px;
    float: left;
    border: 0;
    color: #000;
    text-align: center;
    line-height: 24px;
}

.add{
    float: right !important;
    border-left: solid 1px #ccc;
    border-right: 0 !important;
}

.cartList span{
    color: #ff0036;
    font-size: 16px;
    font-weight: 700;
}

.cartProductTotalPrice{
    width: 119px;
    text-align: center;
    line-height: 80px;
}

.cartProductDel{
    width: 120px;
    text-align: center;
    padding-left: 20px;
    font-size: 14px;
    line-height: 80px;
}

.cartProductDel>a{
    color: #777;
}

.cartProductDel>a:hover{
    color: #ff0036;
}

.shoppingCartFooter{
    margin-top: 20px;
    height: 60px;
    background-color: #eeeeee;
    font-size: 14px;
}

.shoppingCartFooter>div{
    height: 100%;
}

.selectAllBox{
    width: 55px;
    overflow: hidden;
    padding-top: 20px;
    padding-left: 20px;
    display: inline-block;
    float: left;
}

.selectAllBox>a{
    display: inline-block;
}

.selectAllText{
    overflow: hidden;
    float: left;
    line-height: 60px;
}

.cartTotalRight{
    float: right;
    line-height: 60px;
}

.selectSum{
    margin-right: 20px;
}

.sumColor{
    color: #ff0036;
    font-weight: bold;
    font-size: 20px;
}

.orderBtn{
    width: 140px;
    height: 60px;
    border: 0;
    background-color: #bbbbbb;
    font-size: 20px;
    color: #fff;
    letter-spacing: 15px;
    padding-left: 15px;
    margin-left: 30px;
}

.selectBtn{
    background-color: #ff0036 !important;
    cursor: pointer;
}

.md-overlay{
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
}

#module-del{
    display: none;
    width: 580px;
    height: 280px;
    background-color: #fff;
    position: fixed;
    margin: 150px auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 80px 80px 0; 
}

.md-show{
    display: block !important;
    animation:delShow 0.5s;
    -webkit-animation:delShow 0.5s; /* Safari and Chrome */
}

@keyframes delShow
{
    from {margin:650px auto;}
    to {margin:150px auto;}
}

/*Safari and Chrome*/
@-webkit-keyframes delShow  
{
    from {margin:650px auto;}
    to {margin:150px auto;}
}

#module-del>div{
    width: 100%;
}

.del-text{
    text-align: center;
    color: #3a3a3a;
    font-size: 18px;
    margin-bottom: 50px;
}

.del-btn button{
    display: block;
    width: 190px;
    height: 55px;
    font-size: 20px;
    cursor: pointer;
}

.del-btn button:first-child{
    float: left;
    color: #ff0036;
    background-color: #fff;
    border: 1px solid #ff0036;
}

.del-btn button:first-child:hover{
    color: #fff;
    border: 0;
    background-color: #ff0036;
}

.del-btn button:last-child{
    float: right;
    color: #fff;
    background-color: #ff0036;
    border: 0;
}

.del-btn button:last-child:hover{
    color: #ff0036;
    background-color: #fff;
    border: 1px solid #ff0036;
}