*{
  margin: 0;
  padding: 0;
}

ul,li{
  list-style: none;
}

a{
    text-decoration: none;
}

input{
    outline: none;
}

@media (max-width: 1260px) {
    .tb-content{
        width: 982px;
    }
    .head-content{
        width: 982px;
    }
}

@media (min-width: 1260px){
    .tb-content{
        width: 1230px;
    }

    .head-content{
        width: 1230px;
    }
}

@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff') format('woff'), /* chrome, firefox */
    url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "right";
    src: url('../fonts/right.eot'); /* IE9*/
    src: url('../fonts/right.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/right.woff') format('woff'), /* chrome, firefox */
    url('../fonts/right.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/right.svg#right') format('svg'); /* iOS 4.1- */
}

.right {
    font-family:"right" !important;
    font-size:12px;
    color: #333;
    font-weight: lighter;
    margin-left: 5px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.shopcar {
    font-size:12px;
    color: #ff0036;
}

.webnav {
    font-size:14px;
    color: #ff0036;
}


#top-bar{
    width: 100%;
    height: 32px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f2f2f2;
}

.tb-content{
    height: 100%;
    margin: 0 auto;
    color: #999;
    line-height: 32px;
    font-size: 12px;
    font-family: "Microsoft YaHei";
}

.tb-content>ul{
    height: 100%;
    padding: 0;
}

.tb-content>ul>li{
    float: left;
    height: 100%;
}

.hov{
    color: #999;
}

.login li:not(:nth-child(3)){
    margin-right: 20px;
}

.quick-menu>li:hover .hov{
    color: #ff0036;
}

.hov:hover{
    color: #ff0036;
}

.l-hov{
    color: #666;
}

.l-hov:hover{
    color: #ff0036;
}

.login{
    float: left;
}   

.quick-menu{
    float: right;
}

.quick-menu>li{
    position: relative;
    margin-right: 15px;
}

.qm-menu{
    cursor: pointer;
}

.qm-list{
    display: none;
    position: absolute;
    top: 32px;
    left: 0px;
    background-color: #ffffff;
    width: 72px;
    height: 60px;
    padding: 5px 10px;
    z-index: 10;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

.qm-list a{
    line-height: 20px;
}

.qml-h{
    height
}

.m-hov{
    padding: 0 14px 0 10px;
}

.m-hov:hover{
    background-color: #ffffff;
}

.m-hov:hover .qm-list{
    display: block;
}

.m-hov:hover .hov i{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    top: 12px;
}

.hov i{
    position: absolute;
    right: 5px;
    top: 15px;
    width: 0;
    height: 0;
    border-width: 3px;
    border-style: solid dashed dashed;
    border-color: #bbb transparent transparent;
    font-size: 0;
    line-height: 0;
    transition-duration: 0.5s;
}


.mobile{
    position: relative;
}

.qrcode{
    display: none;
    position: absolute;
    top: 26px;
    left: -66px;
    width: 175px;
    height: 227px;
    background-color: #ffffff;
    box-shadow: 0 0 5px #aaa;
    z-index: 10;
}

.qrc{
    margin-left: 15px;
}

.mobile:hover .qrcode{
    display: block;
}

.f-left{
    margin-right: 25px;
}

.qm-sj>li>a{
    float: left;
    margin-bottom: 5px;
}

.qm-sj>li>a:hover{
    color: #ff0036;
}

.qm-sj>li{
    margin: 0;
    overflow: hidden;
}

.qml-b{
    border-top: 1px dotted #aaa;
    border-bottom: 1px dotted #aaa;
}

#web-nav{
    width: 1170px;
    height: 120px;
    z-index: 9;
    left: -1080px;
    padding: 20px 0;
}

#web-nav>div{
    float: left;
    height: 100%;
    padding-left: 30px;
}

.wn-hot{
    width: 450px;
}

.wn-market{
    width: 440px;
}

#web-nav>div:not(:nth-child(3)){
    border-right: 1px solid #f1f1f1;
}

.wn-h3{
    font-size: 16px;
    font-weight: lighter;
}

.wn-hot>h3{
    color: #f56a00;
}

.hot-list>li{
    width: 90px;
}

.market-list>li{
    width: 88px;
}

.wn-market>h3{
    color: #2263d4;
}

.wn-list>li{
    float: left;
    height: 25px;
}

.wn-help{
    width: 188px;
}

.wn-help>h3{
    color: #666;
}

.help-list>li{
    width: 94px;
}

#header{
    width: 100%;
    height: 130px;
}

.head-content{
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#header{
	margin: 0 auto;
	width: 1190px;
	height: 44px;
	padding: 22px 0;
}

#header a img{
	width: 190px;
	margin-top: 8px;
}

#content{
	padding: 50px 0;
}

.form-list{
	width: 720px;
	margin: 0 auto;
    font-size: 14px;
}

.form-group{
	padding: 10px 0;
}

.form-item{
	padding: 10px 0 10px 260px;
    line-height: 36px;
    zoom: 1;
}

.form-item:after{
	content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.form-title{
	font-weight: 700;
}

.form-label{
	display: inline;
    float: left;
    margin-left: -260px;
    width: 240px;
    height: 37px;
    line-height: 37px;
    text-align: right;
}

.form-text{
	border: 1px solid #dedede;
    width: 202px;
    height: 17px;
    line-height: 17px;
    padding: 9px;
    font-size: 14px;
}

.btn{
	min-width: 180px;
	display: inline-block;
    zoom: 1;
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    color: #FFF;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    background: #ff0036;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
}

#errRemind{
	box-sizing: border-box;
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    width: 600px;
    height: 50px;
    visibility: hidden;
    margin: 10px 20px;
    text-align: center;
}